#fp-container {
  text-align: center;
  width: 100%; }
  #fp-container img {
    margin-left: 20px;
    width: 350px; }
  #fp-container #fp-search {
    margin-top: 35px;
    height: 50px; }
    #fp-container #fp-search input {
      height: 100%;
      width: 350px;
      font-size: 16px;
      padding-left: 10px; }
      #fp-container #fp-search input:focus {
        outline: none; }
    #fp-container #fp-search button {
      width: 50px;
      height: 100%;
      position: relative;
      color: white;
      top: -1px;
      left: -5px; }
      #fp-container #fp-search button .fa {
        font-size: 20px; }

@media screen and (max-width: 500px) {
  #fp-container img {
    width: 250px; }

  #fp-search input {
    width: 275px !important; }
  #fp-search button {
    top: 1px !important; } }
.body {
  font-family: Lato, sans-serif; }

.list-no-styles li {
  text-decoration: none; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.page-mid {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.kapitolRed {
  background: #E73347; }

.no-border {
  border: none; }

.border-light-gray {
  border: 2px solid #DFE0E2; }

select {
  z-index: 0; }

select.dropdown {
  cursor: pointer;
  z-index: inherit;
  margin: 0px;
  margin-top: 30px;
  height: 40px;
  width: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: #DFE0E2;
  padding: 8px;
  padding-left: 20px;
  font-size: 16px;
  color: #666666;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  background: url("../../images/dropdown.png") no-repeat 85% 55% #ffffff;
  background-size: 11px 7px; }
  select.dropdown:hover {
    outline: none; }

.body {
  font-family: Lato, sans-serif; }

.list-no-styles li {
  text-decoration: none; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.page-mid {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.kapitolRed {
  background: #E73347; }

.no-border {
  border: none; }

.border-light-gray {
  border: 2px solid #DFE0E2; }

select {
  z-index: 0; }

select.dropdown {
  cursor: pointer;
  z-index: inherit;
  margin: 0px;
  margin-top: 30px;
  height: 40px;
  width: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: #DFE0E2;
  padding: 8px;
  padding-left: 20px;
  font-size: 16px;
  color: #666666;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  background: url("../../images/dropdown.png") no-repeat 85% 55% #ffffff;
  background-size: 11px 7px; }
  select.dropdown:hover {
    outline: none; }

#search-box {
  position: relative;
  top: -2px;
  border: 1px solid #DFE0E2;
  width: 350px;
  display: block;
  margin: 0 auto;
  height: auto;
  background: white; }
  #search-box #search-options a {
    color: black;
    text-decoration: none; }
    #search-box #search-options a li {
      list-style: none;
      padding: 10px 0 10px 20px;
      font-size: 18px;
      cursor: pointer;
      background: white; }
      #search-box #search-options a li:hover {
        background: #D8D8D8 !important; }

@media screen and (max-width: 500px) {
  #search-box {
    width: 275px !important; } }
.democrat {
  padding: 5px 10px;
  background-color: #007DBC; }

.democrat, .republican {
  font-weight: 500;
  display: inline;
  color: white;
  width: 40px;
  border-radius: 50%;
  margin-right: 3px; }

.mp-bio {
  color: gray; }
  .mp-bio:after {
    content: "\f105";
    font-family: FontAwesome; }
  .mp-bio:hover {
    text-decoration: none;
    color: #4d4d4d; }
  .mp-bio:visted {
    text-decoration: none;
    color: gray; }

.mp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', san-serif; }

.mp-details {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.mp-details-container, .mp-table, .mp-issues {
  margin: 20px; }

.mp-details-container {
  width: 80%;
  display: flex; }
  .mp-details-container h1, .mp-details-container h3, .mp-details-container ul {
    margin: 5px 10px 20px 0; }
  .mp-details-container ul {
    list-style: none;
    padding: 0; }
    .mp-details-container ul li {
      display: inline;
      padding-right: 30px; }

.mp-image {
  margin-right: 30px; }

.mp-fb, .mp-twitter, .mp-instagram {
  color: gray; }
  .mp-fb:before, .mp-twitter:before, .mp-instagram:before {
    font-family: FontAwesome; }

.mp-fb:before {
  content: "\f09a"; }

.mp-image img {
  width: 200px; }

.mp-instagram:before {
  content: "\f16d"; }

.mp-issues {
  border: 1px solid lightgray;
  width: 80%; }

.mp-party-district {
  font-weight: 300; }

.mp-twitter:before {
  content: "\f099"; }

.mp-table {
  border: 1px solid lightgray;
  width: 80%; }

.republican {
  padding: 5px 12px;
  background-color: #E73347; }

/*# sourceMappingURL=index.css.map */
