#fp-container{
  //border: 2px solid black;
  img{
    margin-left: 20px;
    width: 350px;
  }
  text-align: center;
  width: 100%;
  #fp-search{
    margin-top: 35px;
    height: 50px;
    #search-bar{
      height: 50px;
      width: 350px;
      font-size: 16px;
      padding-left: 10px;
      &:focus{
        outline: none;
      }
    }
    button{
      width: 50px;
      height: 100%;
      position: relative;
      color: white;
      top: -1px;
      left: -5px;
      .fa{
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 500px){
  #fp-container{
    img{
      width: 250px;
    }
  }
  #fp-search{
    input{
      width: 275px !important;
    }
    button{
      top:1px !important;
    }
  }
}
