$kapitolRed: #E73347;
$kapitolLightGray: #DFE0E2;

.body{
  font-family: Lato, sans-serif;
}

//LIST STYLES
.list-no-styles{
  li{
    text-decoration: none;
  }
}

//STYLE CLEARERS STYLES
.no-padding{
  padding: 0;
}

.no-margin{
  margin: 0;
}

//POSITION STYLES
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.page-mid{
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.kapitolRed{
  background: $kapitolRed;
}

.no-border{
  border: none;
}

.border-light-gray{
  border: 2px solid $kapitolLightGray;
}

select{
  z-index: 0;
}

//DROP DOWN STYLES
select.dropdown {
  cursor: pointer;
  z-index: inherit;
  margin: 0px;
  margin-top: 30px;
  height: 40px;
  width: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: $kapitolLightGray;
  padding: 8px;
  padding-left: 20px;
  font-size: 16px;
  color: #666666;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  background: url('../../images/dropdown.png') no-repeat 85% 55% #ffffff;
  background-size: 11px 7px;
  margin-bottom: 30px;
  &:hover{
    outline: none;
  }
}
