@import 'common';

// LOADER COMPONENT STYLINGS

/* animation code */
@keyframes width-loader {
  from {width: 0}
  to {width: 100px}
}

.loading {
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .1s ease-in-out;
  -moz-transition:  .1s ease-in-out;
  -ms-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  background-color: rgba(0,0,0,0.7); /* Black background with opacity */
  z-index: 9999999999; /* Specify a stack order in case you're using a different order for other elements */
  .loading-screen{
    border-radius: 20px;
    background: white;
    height: 150px;
    width: 150px;
    -webkit-transition: .1s ease-in-out;
    -moz-transition:  .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    .loading-icon{
      margin-top: 5px;
      //border: 1px solid black;
      .flag-star{
        //border: 1px solid black;
        font-size: 20px;
        color: $kapitolRed;
        margin: 0 5px;
      }
      .flag-bar{
        height: 15px;
        width: 75px;
        background: $kapitolRed;
        margin: 9px 0;
        animation-name: width-loader;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        -o-animation-duration: 1.5s;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
      }
    }
  }
}
