@import './common';

#search-box{
  height: auto;
  overflow: scroll;
  position: relative;
  top: -2px;
  border: 1px solid $kapitolLightGray;
  width: 350px;
  display: block;
  margin: 0 auto;
  background: white;
  #search-options{
    a{
      color: black;
      text-decoration: none;
      li{
        .memberPhoto{
          display: inline-block;
          width: 50px;
          margin-right: 10px;
        }
        span{
          margin: 0 3px;
        }
        list-style: none;
        padding: 15px 0 10px 10px;
        font-size: 18px;
        //border: 2px solid black;
        cursor: pointer;
        background: white;
        &:hover{
          background: #D8D8D8 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
  #search-box{
    width: 275px !important;
  }
}
